*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 1030px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
}

.text-logo {
    position: relative;
    bottom: 24px;
    left: 65px;
}

.header-logo-white {
    position: absolute;
    left: 245px;
}

.header-logo-white:hover {
    fill: #F26522;
    transition: 0.5s;
}

.header-title {
    font-weight: 700;
    line-height: 25px;
}

.big-size-logo {
    font-size: 29px;
}

.small-size-logo {
    font-size: 18px;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-link:hover {
    color: #F26522;
    transition: 0.5s;
}

.header-container-link-mail-tel {
    position: relative;
    left: 590px;
}

.header-container-link-tel {
    position: relative;
    left: 153px;
    top: 38px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 37px;
}

.card-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;
    transition: all 0.5s;
}
.card-link {
    text-decoration: none;
    position: relative;
}

.card-link:hover .card-information {
    opacity: 1;
}

.card-link:hover .card-title {
    color: #F26522;
}

.card-information {
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    height: 55px;
    position: absolute;
    overflow: hidden;
    bottom: 42px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 1s;
}

.information {
    color: #FFFFFF;
}

.left {
    position: relative;
    top: 5px;
    padding-left: 16px;
}

.small-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
}

.big-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.information-right {
    position: relative;
    top: 28px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.information-right::after {
    content: "";
    background: url("../images/pseudo.png") no-repeat;
    margin-left: 20px;
    display: inline-block;
    width: 8px;
    height: 12px;
}

.footer-container {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 15px;
}